<html>
    <head>
        <title>Show Image</title>
    </head>
    <body>
        <h1>See Image</h1>
        <img src="/image/<%= @filename %>" />
    </body>
</html>
<div>
    <a href="/">トップ</a>
</div>
<div>
    <a href="/form">戻る</a>
</div>