<html>
<head>
    <title>Image Upload</title>
</head>
<body>
    <h1>Upload Image</h1>
    
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload image">
    </form>

    <% @images.each do |image| %>
    <img src="/image/<%= image %>" width="200" height="200">
    
    <% end %>
	

<div>
    <a href="/">トップ</a>
</div>
<div>
    <a href="/form">戻る</a>
</div>
</body>
</html>
